.footer {
    .footer-top {
        background: #222327;
        padding: 80px 0;

        p {
            font-weight: 600;
            font-size: 22px;
            text-align: center;
            color: #fff;

            @media(max-width: 767px) {
                font-size: 18px;
            }
        }
    }

    .footer-bottom {
        padding: 40px 0;
        background: #424348;
        color: #c7c8cb;

        li {
            &:not(:last-child) {
                border-right: 1px solid rgba(255, 255, 255, 0.486);
            }

            a {
                padding: 10px;
                color: #c7c8cb;
            }
        }
    }
}